
#countdown_div {
	font-family: 'Black Ops One', cursive;
	color: white;
	margin-top: auto;
	text-align: center;
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0880ac72-06f9-4594-a7b3-84c5ebb4048a/dbzf8aw-6b58766b-eb9d-4789-93c8-e628a1cfc0de.jpg/v1/fill/w_1024,h_958,q_75,strp/carbon_fiber_texture_8k_by_granularity_dbzf8aw-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTU4IiwicGF0aCI6IlwvZlwvMDg4MGFjNzItMDZmOS00NTk0LWE3YjMtODRjNWViYjQwNDhhXC9kYnpmOGF3LTZiNTg3NjZiLWViOWQtNDc4OS05M2M4LWU2MjhhMWNmYzBkZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sMSRy-lfO5LrdSdWuxQJO_Z5UfCT7M3BfyFod3saP5o");
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment:fixed;
	background-size: cover;
	/* opacity: 0.8; */
	display: inline-block;
	border-radius: 15px;
	width:50%;
	height:25%;
	border: 1.5px solid white;
	box-shadow: 10px 10px 40px rgba(6, 200, 200, 0.842);
	background-attachment: fixed;
	max-width: 100%;
	max-height: 100%;
}

#countdown_text {
	font-family: 'Black Ops One', cursive;
	font-size: 15em;
	color: white;
	margin-top: auto;
	text-align: center;
}

#countdown_header_div {
  font-family: 'Black Ops One', cursive;
  font-size: 15em;
  color: white;
  margin-top: auto;
  padding-top: 70px;
  text-align: center;
  animation: blinker 2.5s linear infinite;
}

#countdown_header_text {
  font-family: 'Saira Stencil One', cursive;
  font-size: 3em;
  margin-top: 10px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  animation-duration: 750ms;
  animation-delay: 500ms;
  animation-iteration-count: infinite;

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.tutorial_div {
  font-family: 'Black Ops One', cursive;
	margin: 10px auto 0 auto;
	font-size: 1.25em;
	color: white;
	width: 50%;
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0880ac72-06f9-4594-a7b3-84c5ebb4048a/dbzf8aw-6b58766b-eb9d-4789-93c8-e628a1cfc0de.jpg/v1/fill/w_1024,h_958,q_75,strp/carbon_fiber_texture_8k_by_granularity_dbzf8aw-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTU4IiwicGF0aCI6IlwvZlwvMDg4MGFjNzItMDZmOS00NTk0LWE3YjMtODRjNWViYjQwNDhhXC9kYnpmOGF3LTZiNTg3NjZiLWViOWQtNDc4OS05M2M4LWU2MjhhMWNmYzBkZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sMSRy-lfO5LrdSdWuxQJO_Z5UfCT7M3BfyFod3saP5o");
  	background-repeat:no-repeat;
	background-position: center center;
	background-attachment:fixed;
	background-size: cover;
	border-radius: 15px 30px;
	border: 2px solid white;
  	box-shadow: 20px 10px 30px rgba(6, 200, 200, 0.842);
	animation-duration: 2s;
	animation-delay: 0ms;
	animation-iteration-count: 1;
}

.tutorial_text {
  font-family: 'Black Ops One', cursive;
  font-size: 4em;
  color: white;
  margin-top: auto;
  text-align: center;
}
