@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton|Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');

body {
  /* https://i.imgur.com/LXQmFrd.jpg */
  /* http://www.100hdwallpapers.com/wallpapers/1920x1080/aiden_pearce_in_watch_dogs-hd_wallpapers.jpg */
  /* https://media2.giphy.com/media/P35o7CmbP76V2/giphy.gif */
  background-image: url("https://ak8.picdn.net/shutterstock/videos/1032811178/thumb/10.jpg");
  background-color: #cccccc;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  zoom: 80%;
}

#cartoons {
  width: 30px;
  height: 10px;
}

#column {
  float: left;
  width: 33.33%;
  padding: 5px;
}