@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton|Saira+Stencil+One&display=swap');

body {
  /* https://i.imgur.com/LXQmFrd.jpg */
  /* http://www.100hdwallpapers.com/wallpapers/1920x1080/aiden_pearce_in_watch_dogs-hd_wallpapers.jpg */
  /* https://media2.giphy.com/media/P35o7CmbP76V2/giphy.gif */
  background-image: url("https://ak8.picdn.net/shutterstock/videos/1032811178/thumb/10.jpg");
  background-color: #cccccc;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#first-start-button {
  font-family: 'Black Ops One', cursive;
  border: 1px solid white;
  position: fixed;
  margin: 10px auto;
  padding: 20px;
  color: white;
  font-size: 4em;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 150%;
  max-height: 100%;
  border: 2px solid white;
  border-radius: 15px 30px;
  box-shadow: 20px 10px 30px rgba(6, 200, 200, 0.842);
  animation: blinker 10s linear;
  width: 30%;
  height: 15%;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#first-start-button:hover {
  color: orangered;
  background-color: black;
  opacity: 0.7;

}

#start-game {
  height: 10em;
  display: flex;
  align-items: center;
}

#block-div {
  background-color: black;
  margin-top: 150px;
  opacity: 0.8;
  display: inline-block;
  border-radius: 15px;
  width:50%;
  height:30em;
  text-align: center;
  border: 1.5px solid white;
  box-shadow: 10px 10px 40px rgba(6, 200, 200, 0.842);
  background-attachment: fixed;
  max-width: 150%;
  max-height: 150%;
}

#block-div {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#countdown {
  font-family: 'Black Ops One', cursive;
  font-size: 15em;
  color: white;
  margin-top: auto;
  padding-top: 70px;
  text-align: center;
}

#game-title {
  font-family: 'Saira Stencil One', cursive;
  font-size: 3em;
  margin-top: 10px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  animation-duration: 100ms;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
}

#cartoons {
  width: 30px;
  height: 10px;
}

#column {
  float: left;
  width: 33.33%;
  padding: 5px;
}