#first-start-button {
	font-family: 'Black Ops One', cursive;
	/* position: fixed; */
	margin: 10px auto 0px auto;
	padding: 10px;
	color: white;
	font-size: 4em;
	text-align: center;
	/* left: 50%; */
	/* top: 25%; */
	/* transform: translate(-50%, -50%); */
	max-width: 100%;
	max-height: 100%;
	border: 2px solid white;
	border-radius: 15px 30px;
	box-shadow: 20px 10px 30px rgba(6, 200, 200, 0.842);
	/* animation: blinker 10s linear; */
	width: 30%;
	height: 15%;
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0880ac72-06f9-4594-a7b3-84c5ebb4048a/dbzf8aw-6b58766b-eb9d-4789-93c8-e628a1cfc0de.jpg/v1/fill/w_1024,h_958,q_75,strp/carbon_fiber_texture_8k_by_granularity_dbzf8aw-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTU4IiwicGF0aCI6IlwvZlwvMDg4MGFjNzItMDZmOS00NTk0LWE3YjMtODRjNWViYjQwNDhhXC9kYnpmOGF3LTZiNTg3NjZiLWViOWQtNDc4OS05M2M4LWU2MjhhMWNmYzBkZS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.sMSRy-lfO5LrdSdWuxQJO_Z5UfCT7M3BfyFod3saP5o");
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment:fixed;
	background-size: cover;
	/* animation:slide_up 1s;
	-moz-animation:slide_up 1s;
	-webkit-animation:slide_up 1s; */
	animation-duration: 2s;
	animation-delay: 0ms;
	animation-iteration-count: 1;
}

@keyframes slide_up
{
	0%   {top:500px; opacity: 0;}
	100% {top:225px; opacity: 1;}
}


#first-start-button:hover {
	color: orangered;
	background-color: black;
	opacity: 0.7;
	transition-property: color, background, opacity;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;

}

/* #start-game {
  height: 10em;
  display: flex;
  align-items: center;
} */

#fine_text_div {
  font-family: 'Black Ops One', cursive;
	margin: 10px auto 0 auto;
	font-size: 1.25em;
	color: white;
	width: 100%;
	position:fixed;
	left: 0;
	bottom:0;
	animation-duration: 2s;
	animation-delay: 750ms;
	animation-iteration-count: 1;
}
/* 
.fine_text {
  font-family: 'Black Ops One', cursive;
  font-size: 4em;
  color: white;
  margin-top: auto;
  text-align: center;
} */
