.main_container{
	width:100%
}

.main_wrapper{
	width: 50%;
	height: 100vh;
	text-align: center;
	margin: 0 auto 0 auto;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.timer_div {
	width: 100%;
}

.timer_header {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	color: #000;
	font-size: 50pt;
}

.timer_counter {
	width: 50%;
	margin: 0 auto 0.25em auto;
	padding: 0 0 0 0;
	color: #FFF;
	font-size: 75pt;
	background: #000;
}

.key_press_div {
	width: 100%;
}

.key_press_header {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	color: #000;
	font-size: 25pt;
}

.key_press_counter {
	width: 50%;
	margin: 0 auto 0.5em auto;
	padding: 0 0 0 0;
	color: #FFF;
	font-size: 25pt;
	background: #000;
}

.message_div {
	width: 100%;
}

.message_header {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	color: #000;
	font-size: 25pt;
}

.message_rank {
	width: 75%;
	margin: 0 auto 0.5em auto;
	padding: 0 0 0 0;
	color: #FFF;
	font-size: 20pt;
	background: #000;
}

.space_bar_div {
	width: 100%;
}

.space_bar_button {
	width: 90%;
	height: 3em;
}

.space_bar_button {
	width: 90%;
	height: 3em;
}

.scoreboard_table {
	width: 100%;
}

.scoreboard_table_top_row th {
	text-align: center;
	width: 50%;
}

.scoreboard_item tr {
	width: 100%;
}

.scoreboard_item td {
	text-align: center;
	width: 50%;
}

.bottom_button_div {
	width: 100%;
}

.main_menu_button {
	width: 40%;
	height: 3em;
}

.play_again_button {
	width: 40%;
	height: 3em;
}