@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton|Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');

.main_container {
	width: 100%;
}

.main_wrapper {
	width: 100%;
	height: 100vh;
	text-align: center;
	margin: 0 auto 0 auto;
}

.timer_div {
	width: 100%;
}

.timer_header {
	font-family: 'Black Ops One', cursive;
	font-size: 7em;
	color: white;
	margin-top: auto;
	text-align: center;
}

.timer_counter {
	font-family: 'Black Ops One', cursive;
	font-size: 17em;
	color: yellow;
	margin-top: auto;
	text-align: center;
}

.key_press_div {
	width: 100%;
	font-family: 'Wallpoet', cursive;
}

.key_press_header {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	color: white;
	font-size: 25pt;
}

.key_press_counter {
	font-family: 'Black Ops One', cursive;
	color: yellow;
	margin: 0 auto 0.5em auto;
	padding: 0 0 0 0;
	font-size: 60pt;
	text-align: center;
}

.message_div {
	width: 100%;
}

.message_header {
	font-family: 'Wallpoet', cursive;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	color: white;
	font-size: 25pt;
}

.message_rank {
	font-family: 'Wallpoet', cursive;
	width: 75%;
	height: 50px;
	border-radius: 30px;
	margin: 0 auto 0.5em auto;
	padding: 0 0 0 0;
	color: yellow;
	font-size: 20pt;
	text-align: center;
	background: #000;
	opacity: 0.6;
}

.space_bar_div {
	border-radius: 15px;
	width: 50%;
	height: 10%;
	margin: 0 auto;
}

.space_bar_button {
	width: 100%;
	height: 100%;
	font-family: 'Black Ops One', cursive;
	font-size: 40pt;
	border-radius: 15px;
	background-color: lightgrey;
	text-align: center;
}
.scoreboard_table {
	margin-left: 0px;
	font-size: 2em;
	color: white;
	width: 50%;
	margin: 10px auto;
	padding-left: 10px;
}

.scoreboard_table_top_row th {
	color: white;
	text-align: left;
	width: 90%;
}

.scoreboard_item tr {
	color: white;
	width: 90%;
	text-align: left;
}

.scoreboard_item td {
	color: white;
	text-align: left;
	width: 90%;

}

.bottom_button_div {
	display: inline-block;
	margin-right: 5px;
	width: 90%;
}

.main_menu_button {
	border: 1px double white;
	font-family: 'Wallpoet', cursive;
	color: yellow;
	display: inline-block;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 30%;
	height: 2em;
	font-size: 4em;
	background-color: transparent;

}

.main_menu_button:hover {
	box-shadow: 20px 10px 30px rgba(6, 200, 200, 0.842);
	background-color: black;
}

.play_again_button {
	border: 1px double white;
	font-family: 'Wallpoet', cursive;
	color: yellow;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	width: 30%;
	height: 2em;
	font-size: 4em;
	background-color: transparent;
}

.play_again_button:hover {
	box-shadow: 20px 10px 30px rgba(6, 200, 200, 0.842);
	background-color: black;
	/* color: white; */
}

.submit_input {
	font-family: 'Wallpoet', cursive;
	font-size: 20pt;
	width: 40%;
	height: 2em;
	color: orangered;
	opacity: 0.5;
	margin: 0 auto;
}

.submit_button {
	margin: auto;
	font-family: 'Wallpoet', cursive;
	font-size: 20pt;
	width: 30%;
	height: 2em;
	border-radius: 5px;
}

.submit_button:hover {
	color: orangered;
}

.submit_form {
	width: 60%;
	margin: auto;
}


.game_over_text {
	font-family: 'Black Ops One', cursive;
	animation-duration: 3s;
	animation-delay: 500ms;
	animation-iteration-count: infinite;
	color: red;
	font-size: 90pt;
}

input:focus {
	background-color: yellow;
}

.scoreboard_header {
	font-family: 'Black Ops One', cursive;
	animation-duration: 3s;
	animation-delay: 500ms;
	animation-iteration-count: infinite;
	color: white;
	font-size: 40pt;
}

