@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton|Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Wallpoet&display=swap');

.power_div {
	position:relative;
	left: 0px;
	bottom: 0px;
	text-align: center;
	margin: auto auto 1% auto;
	padding: 0 0 0 0;
	width: 30%;
	background-image: linear-gradient( rgb(50, 50, 50, 0.75) 10%,rgb(0, 0, 0, 0.75) 90%);
	border-radius: 0px 0px 30px 30px;
	border: 2px solid white;
	animation:slide_in_from_bottom .25s 1, shadow_blink 1.1s infinite;
}

@keyframes slide_in_from_bottom
{
	0%   {bottom: -250px; opacity: 0;}
	100% {bottom: 0px; opacity: 1;}
}

.power_bar {
	background-color: transparent;
	width: 90%;
	height: 5em;
	padding: 0 0 1em 0;
}


meter::-webkit-meter-bar {
	background: #FFF;
	border-radius: 30px;
}


.power_header {
	font-family: 'Black Ops One';
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	color: white;
	font-size: 25pt;
}