.dismount_home_header {
	animation: dismount_home_header 1s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 0.75) 90%);
	border: 2px solid white;
	border-radius: 30px 30px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0px auto;
	padding: 0 0 0 0;
	text-align: center;
	transform: matrix3d(
		1,0,0,0.00025,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
		) translateX(10px);
	width: calc(375px + (1000 - 375) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_home_header {
	0% {
		transform: matrix3d(
			1,0,0,0.00025,
			0,1,0,0,
			0,0,1,0,
			0,0,0,1
		  ) translateX(10px);
	}
	25% {
		transform: matrix3d(
			1,0,0,0.00025,
			0,1,0,0,
			0,0,1,0,
			0,0,0,1
		  ) translateX(2000px);
	}
	100% {
		transform: matrix3d(
			1,0,0,0.00025,
			0,1,0,0,
			0,0,1,0,
			0,0,0,1
		  ) translateX(2000px);
	}
}

.dismount_start_button {
	animation: dismount_start_button .6s ease-in-out 1;
	border: 2px solid white;
	border-radius: 30px;
	color: white !important;
	font: 300 calc(20px + (25 - 20) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
	margin: 0 auto 0 auto;
	padding: 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	transform: matrix3d(
		1,0,0,0.0005,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_start_button {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_scoreboard_header {
	animation: dismount_scoreboard_header .6s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border-radius: 30px 30px 5px 5px;
	border: 2px solid grey;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0 auto 0 auto;
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.001,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(336px + (871 - 336) * ((100vw - 500px) / (1920 - 500)));
	z-index: 2;
}

@keyframes dismount_scoreboard_header {
	0% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(0px) translateY(0px);
	}
	25% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(2000px);
	}
	100% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(2000px) translateY(-18px);
	}
}

.dismount_scoreboard_table {
	animation: dismount_home_scoreboard .6s ease-in-out 1;
	align-items: center;
	align-content: center;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto 0 auto;
	padding: 0px;
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.0004,
		0,0,1,0,
		0,0,0,1
		) translateY(calc(-31px + (-40 - -31) * ((100vw - 500px) / (1920 - 500))));
	width: calc(375px + (1000 - 375) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_home_scoreboard {
	0% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.0004,
			0,0,1,0,
			0,0,0,1
		) translateX(0px) translateY(-33px);
	}
	25% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.0002,
			0,0,1,0,
			0,0,0,1
		) translateX(2000px) translateY(0px);
	}
	100% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.0000,
			0,0,1,0,
			0,0,0,1
		) translateX(2000px) translateY(0px);
	}
}

.dismount_countdown_header{
	animation: dismount_countdown_header .6s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 50px 50px 0px 0px;
	box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.dismount_countdown_header h3 {
	text-align: center;
	font: 300 calc(30px + (55 - 30) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	padding: 10px;
	margin: 0px;
	color: white;
	text-align: center;
}

@keyframes dismount_countdown_header {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_countdown_go {
	align-items: center;
	align-content: center;
	animation: dismount_countdown_go 1s 1;
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid green;
	border-radius:0px;
	box-shadow: 0px 10px 20px 0px rgba(0, 128, 0, 0.75);
	display: flex;
	color: white;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_countdown_go {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.dismount_countdown_tutorial {
	animation: dismount_countdown_tutorial 1s 1, fade_out .3s ease-in-out 1, blur_out .15s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 0px 0px 50px 50px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
	display: flex;
	color: white;
	margin: 0 auto 10px auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
	width: calc(280px + (480 - 280) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_countdown_tutorial {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_game_timer {
	animation: dismount_game_timer 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 50px 50px 0px 0px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_game_timer {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_game_counter {
	animation: dismount_game_counter 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_game_counter {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.dismount_game_rank {
	animation: dismount_game_rank 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_game_rank {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_game_power {
	animation: dismount_game_power 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 0px 0px 50px 50px;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 10px auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_game_power {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.dismount_submit_score_header {
	animation: dismount_submit_score_header 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 50px 50px 0px 0px;
	box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_submit_score_header {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_submit_score_counter {
	animation: dismount_submit_score_counter 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	border: 2px solid grey;
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_submit_score_counter {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.dismount_submit_score_rank {
	animation: dismount_submit_score_rank 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_submit_score_rank {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_submit_score_power {
	animation: dismount_submit_score_power 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 0px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0px auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_submit_score_power {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_submit_score_form {
	animation: dismount_submit_score_form 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 0px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0px auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_submit_score_form {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.dismount_submit_score_bottom_buttons_container {
	animation: dismount_submit_score_bottom_buttons_container 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 0px 0px 50px 50px;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 15px 0 rgba(0, 0, 0, 0.8);
	align-items: baseline;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 20px auto;
	padding: 10px;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_submit_score_bottom_buttons_container {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_post_game_header {
	animation: dismount_post_game_header 1s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border-radius: 30px 30px 5px 5px;
	border: 2px solid white;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0 auto 0 auto;
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.001,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(333px + (870 - 333) * ((100vw - 500px) / (1920 - 500)));
	z-index: 2;
}

@keyframes dismount_post_game_header {
	0% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(0px) translateY(0px);
	}
	25% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(2000px);
	}
	100% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(2000px) translateY(-18px);
	}
}

.dismount_post_game_main_menu_button {
	animation: dismount_post_game_main_menu_button 1s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 30px 0px 0px 30px;
	box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
	color: white !important;
	font: 300 calc(17px + (25 - 17) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	padding: 10px;
	margin-right: -5px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	transform: matrix3d(
		1,0,0,0.0005,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_post_game_main_menu_button {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.dismount_post_game_play_again_button {
	animation: dismount_post_game_play_again_button 1s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px 30px 30px 0px;
	box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
	color: white !important;
	font: 300 calc(17px + (25 - 17) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	margin-left: -5px;
	padding: 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	transform: matrix3d(
		1,0,0,-0.0005,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes dismount_post_game_play_again_button {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}