.footer_container {
	/* height: 50px; */
	/* margin-top: -50px; */
	color: white;
	z-index: 0;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255,255,255, 0.0), rgba(0,0,0, 1) );
}

.footer_wrapper {
	animation: fade_in .5s ease-in-out 1, slide_in_from_bottom_footer .5s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 30px 30px 0px 0px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 0 0 rgba(0, 0, 0, 0.8);
	padding: 0px;
	min-height: 150px;
	/* min-height: calc(528px + (917 - 528) * ((100vh - 528px) / (917 - 528))); */
	margin: calc(-48px + (48 - 48) * ((100vh - 500px) / (980 - 500))) auto 0 auto;
	margin: -54px auto 0 auto;

	width: calc(400px + (1200 - 400) * ((100vw - 500px) / (1920 - 500)));
}

.logos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: 10pt;
	margin: 5px;
}

.logo_rectangle{
	max-width: 100%;
	height: auto;
	/* max-height: 40px; */
	max-height: calc(25px + (30 - 25) * ((100vw - 500px) / (1080 - 500)));
	margin: 5px;
}

.fine_print{
	font-size: calc(8px + (12 - 8) * ((100vw - 500px) / (1920 - 500)));
	margin: 0px 15px 10px 15px;
}


