.blank {
	opacity: 0;
	height: 0px;
}

.game_wrapper {
	/* padding-top: 75px; */
	padding-bottom: 50px;
	padding-top: calc(10px + (75 - 10) * ((100vh - 630px) / (980 - 630)));
}

.game_timer {
	animation: slide_in_from_top .6s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 50px 50px 0px 0px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.game_timer h1, .dismount_game_timer h1 {
	animation: text_shadow_blink 2.5s ease-in-out infinite;
	background-color: #000;
	border-radius: 10px;
	border: 1px solid grey;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(75px + (150 - 75) * ((100vw - 500px) / (1920 - 500))) 'Conv_digital-7.mono';
	letter-spacing: 5px;
	margin: 0 auto 0 auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
	text-shadow: 0px 0px 5px yellow;
	width: calc(250px + (400 - 250) * ((100vw - 500px) / (1920 - 500)));
}

.game_timer h2, .dismount_game_timer h2 {
	color: white;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	margin: 0 auto 0 auto;
	text-align: center;
	padding: 10px 10px 0px 10px;
}

.game_counter {
	animation: slide_in_from_top .4s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.game_counter h1, .dismount_game_counter h1 {
	animation: text_shadow_blink 2s ease-in-out infinite;
	background-color: #000;
	border-radius: 10px;
	border: 1px solid grey;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(75px + (125 - 75) * ((100vw - 500px) / (1920 - 500))) 'Conv_digital-7.mono';
	padding: 0px 10px 0px 10px;
	margin: 0 auto 0 auto;
	text-align: center;
	width: calc(200px + (300 - 200) * ((100vw - 500px) / (1920 - 500)));
}

.game_counter h2, .dismount_game_counter h2 {
	color: white;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	margin: 0 auto 0 auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
}

.game_rank {
	animation: slide_in_from_bottom .4s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.game_rank h1, .dismount_game_rank h1 {
	animation: text_shadow_blink 1.5s ease-in-out infinite;
	background-color: #000;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(23px + (33 - 23) * ((100vw - 500px) / (1920 - 500))) 'Conv_digital-7.mono';
	margin: 0 auto 0 auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
	text-shadow: 0px 0px 2.5px yellow;
	width: calc(250px + (350 - 250) * ((100vw - 500px) / (1920 - 500)));
}

.game_rank h2, .dismount_game_rank h2 {
	color: white;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	margin: 0 auto 0 auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
}

.game_power {
	animation: slide_in_from_bottom .6s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 0px 0px 50px 50px;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 10px auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.game_power h1, .dismount_game_power h1 {
	animation: text_shadow_blink 2.25s ease-in-out infinite;
	background-color: #000;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(40px + (60 - 40) * ((100vw - 500px) / (1920 - 500))) 'Conv_digital-7.mono';
	margin: 0 auto 0 auto;
	padding: 0px 5px 0px 5px;
	text-align: center;
	text-shadow: 0px 0px 2.5px yellow;
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

.game_power h2, .dismount_game_power h2 {
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	color: white;
	margin: 0 auto 0 auto;
	padding: 10px 10px 0px 10px;
	text-align: center;
}

.game_power_bar{
	padding: 0 0 0 0;
	display: block;
	margin: 0 auto 0 auto;
	-webkit-appearance: none;
}

.game_power_bar meter, .dismount_game_power_bar meter {
	background: none;
	width: 75%;
	height: 25px;
	box-sizing: border-box;
	padding: 0 0 0 0;
	display: block;
	margin: 0 auto 0 auto;
}

.game_power_bar meter::-webkit-meter-bar, .dismount_game_power_bar meter::-webkit-meter-bar {
	background: #000;
	border-radius: 5px;
	border: 1px solid grey;
}

.game_power_bar meter::-webkit-meter-optimum-value, .dismount_game_power_bar meter::-webkit-meter-optimum-value {
	width: 100%;
	background: linear-gradient(
		90deg,
		#FFC300 0%,
		#FF5733 100%
	);
	background-size: 100% 100%;
	border-radius: 5px;
	transition: background 1s 1s ease-in-out;
}

.game_power_bar meter::-webkit-meter-suboptimum-value, .dismount_game_power_bar meter::-webkit-meter-suboptimum-value {
	width: 100%;
	background: linear-gradient(
		90deg,
		#FFC300 0%,
		#FF5733 100%,
		#7A0000 100%
	);
	background-size: 100% 100%;
	border-radius: 5px;
	transition: background 1s 1s ease-in-out;
}

.game_power_bar meter::-webkit-meter-even-less-good-value, .dismount_game_power_bar meter::-webkit-meter-even-less-good-value {
	width: 100%;
	background: linear-gradient(
		90deg,
		#107A00 0%,
		#FF5733 100%,
	);
	background-size: 100% 100%;
	border-radius: 5px;
	transition: background 1s 1s ease-in-out;
}
