.post_game_wrapper {
	padding-top: 75px;
	padding-bottom: 50px;
	/* z-index: 1;
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255,255,255, 1), rgba(0,0,0, 0.1) );
	min-height: 86.00vh;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25); */
	/* animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1; */
}

.post_game_header {
	animation: fade_in .5s ease-in-out 1, slide_in_from_bottom_home_scoreboard_header .5s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border-radius: 30px 30px 5px 5px;
	border: 2px solid white;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0 auto 0 auto;
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.001,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(333px + (870 - 333) * ((100vw - 500px) / (1920 - 500)));
	z-index: 2;
}

.post_game_wrapper h3 {
	text-align: center;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	padding: 5px 0px 10px 0px;
	margin: 0px;
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.001,
		0,0,1,0,
		0,0,0,1
	);
	/* animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_top.25s ease-in-out 1; */
}

.post_game_buttons_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	margin: 0 auto 0 auto;
	padding: 10px;
	align-content: center;
	animation: fade_in .4s ease-in-out 1, blur_in .4s ease-in-out 1, slide_in_from_bottom_post_game_buttons .5s ease-in-out 1;
}

.post_game_main_menu_button {
	animation: shadow_blink 1.4s infinite;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 30px 0px 0px 30px;
	box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
	color: white !important;
	font: 300 calc(20px + (25 - 20) * ((100vw - 500px) / (1920 - 500))) 'Saira Stencil One';
	padding: 10px;
	margin-right: -12px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	transform: matrix3d(
		1,0,0,0.0005,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

.post_game_main_menu_button:hover {
	animation: blinker_hover .1s ease-in-out 1;
	background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
	border: 2px solid black;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	color: rgb(0, 0, 0, 1) !important;
	cursor: pointer;
	opacity: 1;
    transform: matrix3d(
      1,0,0,0,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    );
}

.post_game_main_menu_button:active {
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
	background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
	border: 2px solid black;
	color: rgb(0, 0, 0, 1) !important;
	cursor: pointer;
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
}

.post_game_play_again_button {
	animation: shadow_blink 1.6s infinite;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px 30px 30px 0px;
	box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
	color: white !important;
	font: 300 calc(20px + (25 - 20) * ((100vw - 500px) / (1920 - 500))) 'Saira Stencil One';
	margin-left: -12px;
	padding: 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	transform: matrix3d(
		1,0,0,-0.0005,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

.post_game_play_again_button:hover {
	animation: blinker_hover .1s ease-in-out 1;
	background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
	border: 2px solid black;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	color: rgb(0, 0, 0, 1) !important;
	cursor: pointer;
	opacity: 1;
    transform: matrix3d(
      1,0,0,0,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
    );
}

.post_game_play_again_button:active {
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
	background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
	border: 2px solid black;
	color: rgb(0, 0, 0, 1) !important;
	cursor: pointer;
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
}