.scoreboard_table {
	animation: fade_in .5s ease-in-out 1, slide_in_from_bottom_home_scoreboard .5s ease-in-out 1;
	align-items: center;
	align-content: center;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto 0 auto;
	padding: 0px;
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.0004,
		0,0,1,0,
		0,0,0,1
		) translateY(calc(-31px + (-40 - -31) * ((100vw - 500px) / (1920 - 500))));
	width: calc(375px + (1000 - 375) * ((100vw - 500px) / (1920 - 500)));
}

.scoreboard_table tbody, .dismount_scoreboard_table tbody {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.scoreboard_head_row, .dismount_scoreboard_head_row {
	align-items: center;
	align-content: center;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid grey;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 2.5px 0px 2.5px 0px;
	width: 100%;
}

.scoreboard_head_row th, .dismount_scoreboard_head_row th {
	font: 300 calc(12px + (20 - 12) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	width: 35%;
}

.scoreboard_sub_row, .dismount_scoreboard_sub_row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid grey;
}

.scoreboard_sub_row:last-child, .dismount_scoreboard_sub_row:last-child {
	align-items: center;
	align-content: center;
	border: 1px solid grey;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}

.scoreboard_sub_row td, .dismount_scoreboard_sub_row td {
	font: 300 calc(14px + (17 - 14) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	text-align: center;
	width: 35%;
}

.highlighted, .dismount_highlighted {
	width: 100%;
	background-image: linear-gradient(rgb(255, 255, 0, 1),  rgb(212, 144, 57, 1) );
	border: 1px solid black;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	color: rgb(0, 0, 0, 1);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.highlighted td, .dismount_highlighted td {
	font: 300 calc(14px + (20 - 14) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	text-align:center;
	width: 35%;
}

.scoreboard_power, .dismount_scoreboard_power {
	padding: 0 0 0 0;
	display: block;
	margin: 0 auto 0 auto;
	-webkit-appearance: none;
}

.scoreboard_power meter, .dismount_scoreboard_power meter {
	background: none;
	width: 75%;
	box-sizing: border-box;
	padding: 0 0 0 0;
	display: block;
	margin: 0 auto 0 auto;

}

.scoreboard_power meter::-webkit-meter-bar, .dismount_scoreboard_power meter::-webkit-meter-bar {
	background: #000;
	border-radius: 5px;
	border: 1px solid grey;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.8), 0 0px 5px 0 rgba(0, 0, 0, 0.8);
}

.scoreboard_power meter::-webkit-meter-optimum-value, .dismount_scoreboard_power meter::-webkit-meter-optimum-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#FFC300 0%,
		#FF5733 100%
	);
	background-size: 100% 100%;
	border-radius: 5px;
}

.scoreboard_power meter::-webkit-meter-suboptimum-value, .dismount_scoreboard_power meter::-webkit-meter-suboptimum-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#FFC300 0%,
		#FF5733 100%,
		#7A0000 100%
	);
	background-size: 100% 100%;
	border-radius: 5px;
}

.scoreboard_power meter::-webkit-meter-even-less-good-value, .dismount_scoreboard_power meter::-webkit-meter-even-less-good-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#107A00 0%,
		#FF5733 100%,
	);
	background-size: 100% 100%;
	border-radius: 5px;
}

.scoreboard_power_low meter, .dismount_scoreboard_power_low meter {
	background: none;
	width: 75%;
	box-sizing: border-box;
	padding: 0 0 0 0;
	display: block;
	margin: 0 auto 0 auto;
}

.scoreboard_power_low meter::-webkit-meter-bar, .dismount_scoreboard_power_low meter::-webkit-meter-bar {
	background: #000;
	border-radius: 5px;
	border: 1px solid grey;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.8), 0 0px 5px 0 rgba(0, 0, 0, 0.8);
}

.scoreboard_power_low meter::-webkit-meter-optimum-value, .dismount_scoreboard_power_low meter::-webkit-meter-optimum-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#FFC300 0%,
		#FFC300 100%
	);
	background-size: 100% 100%;
	border-radius: 5px;
}

.scoreboard_power_low meter::-webkit-meter-suboptimum-value, .dismount_scoreboard_power_low meter::-webkit-meter-suboptimum-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#FFC300 0%,
		#FFC300 100%
	);
	background-size: 100% 100%;
	border-radius: 5px;
}

.scoreboard_power_low meter::-webkit-meter-even-less-good-value, .dismount_scoreboard_power_low meter::-webkit-meter-even-less-good-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#FFC300 0%,
		#FFC300 100%,
	);
	background-size: 100% 100%;
	border-radius: 5px;
}

.scoreboard_power_high meter, .dismount_scoreboard_power_high meter {
	background: none;
	width: 75%;
	box-sizing: border-box;
	padding: 0 0 0 0;
	display: block;
	margin: 0 auto 0 auto;
}

.scoreboard_power_high meter::-webkit-meter-bar, .dismount_scoreboard_power_high meter::-webkit-meter-bar {
	background: #000;
	border-radius: 5px;
	border: 1px solid grey;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.8), 0 0px 5px 0 rgba(0, 0, 0, 0.8);
}

.scoreboard_power_high meter::-webkit-meter-optimum-value, .dismount_scoreboard_power_high meter::-webkit-meter-optimum-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#FFC300 0%,
		#FF0000 100%
	);
	background-size: 100% 100%;
	border-radius: 5px;
}

.scoreboard_power_high meter::-webkit-meter-suboptimum-value, .dismount_scoreboard_power_high meter::-webkit-meter-suboptimum-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#FFC300 0%,
		#FF0000 100%
	);
	background-size: 100% 100%;
	border-radius: 5px;
}

.scoreboard_power_high meter::-webkit-meter-even-less-good-value, .dismount_scoreboard_power_high meter::-webkit-meter-even-less-good-value {
	width: 100%;
	background-image: linear-gradient(
		90deg,
		#107A00 0%,
		#FF0000 100%,
	);
	background-size: 100% 100%;
	border-radius: 5px;
}