.unload_home_header {
	animation: unload_header .5s ease-in-out 1;
	color: #fff;
	text-align: center;
	width: calc(375px + (1000 - 375) * ((100vw - 500px) / (1920 - 500)));
	margin: 0px auto 0px auto;
	padding: 0 0 0 0;
  	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 0.75) 90%);
	border-radius: 30px 30px;
	border: 2px solid white;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
	opacity: 0.0;
    transform: matrix3d(
      1,0,0,0.00025,
      0,1,0,0,
      0,0,1,0,
      0,0,0,1
	) translateX(10px);
	/* transition-property: opacity;
	transition-duration: .5s, .5s;
	transition-timing-function: ease-in-out; */
}

@keyframes unload_header {
	0% {
		transform: matrix3d(
			1,0,0,0.00025,
			0,1,0,0,
			0,0,1,0,
			0,0,0,1
		  ) translateY(0px) translateX(10px);
	}
	25% {
		transform: matrix3d(
			1,0,0,0.00025,
			0,1,0,0,
			0,0,1,0,
			0,0,0,1
		  ) translateY(-1000px) translateX(10px);
	}
	100% {
		transform: matrix3d(
			1,0,0,0.00025,
			0,1,0,0,
			0,0,1,0,
			0,0,0,1
		  ) translateY(-1000px) translateX(10px);
	}
}

.unload_start_button {
	animation: unload_start_button .6s ease-in-out 1;
	font: 300 calc(20px + (25 - 20) * ((100vw - 500px) / (1920 - 500))) 'Saira Stencil One';
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
	margin: 0 auto 0 auto;
	padding: 10px;
	color: white !important;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border-radius: 30px;
	border: 2px solid white;
	box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
	/* opacity: 0.0; */
	transform: matrix3d(
		1,0,0,0.0005,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
	);
	/* transition-property: opacity;
	transition-duration: .5s, .5s;
	transition-timing-function: ease-in-out; */
}

@keyframes unload_start_button {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-1000px);
	}
	100% {
		transform: translateX(-1500px);
	}
}

.unload_scoreboard_header {
	animation: unload_scoreboard_header .6s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border-radius: 30px 30px 5px 5px;
	border: 2px solid white;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0 auto 0 auto;
	/* opacity: 0.0; */
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.001,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(333px + (870 - 333) * ((100vw - 500px) / (1920 - 500)));
	z-index: 2;
	/* transition-property: opacity;
	transition-duration: .5s, .5s;
	transition-timing-function: ease-in-out; */
}

@keyframes unload_scoreboard_header {
	0% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(0px) translateY(0px);
	}
	25% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(1400px);
	}
	100% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(1400px) translateY(-18px);
	}
}

.unload_scoreboard_table {
	animation: unload_home_scoreboard .6s ease-in-out 1;
	align-items: center;
	align-content: center;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 427px;
	margin: 0 auto 0 auto;
	max-height: 526px;
	padding: 0px 0px 10px 0px;
	/* opacity: 0.0; */
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.0004,
		0,0,1,0,
		0,0,0,1
		) translateY(-33px);
	width: calc(375px + (1000 - 375) * ((100vw - 500px) / (1920 - 500)));
}

.unload_scoreboard_table tbody {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.unload_scoreboard_head_row {
	width: 100%;
	padding: 5px 0px 5px 0px;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 2px solid white;
}

.unload_scoreboard_head_row th {
	font: 300 calc(12px + (18 - 12) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';

	width: 35%;
}

.unload_scoreboard_sub_row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 5px;
	border: 1px solid grey;
}

.unload_scoreboard_sub_row td {
	font: 300 calc(14px + (16 - 14) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	text-align: center;
	width: 35%;
}

.unload_highlighted {
	width: 100%;
	background: red;
	color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.unload_highlighted td {
	text-align:center;
	width: 35%;
}

.unload_scoreboard_power {
	width: 50%;
	padding: 0 0 0 0;
	display: block;
	margin: 0 auto 0 auto;
	background: #FFF;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.unload_scoreboard_sub_row td meter::-webkit-meter-bar {
	background: none;
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(220, 220, 220, 1) );
	width: 100%;
	padding: 0 0 0 0;
	display: block;
	margin: 0 auto 0 auto;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.unload_scoreboard_sub_row td meter::-webkit-meter-optimum-value {
	box-shadow: 0 5px 5px -5px #999 inset;
	background-image: linear-gradient(
	  90deg,
	  #8bcf69 5%,
	  #e6d450 10%,
	  #e6d450 15%,
	  #f28f68 15%,
	  #f28f68 55%,
	  #cf82bf 55%,
	  #cf82bf 95%,
	  #719fd1 95%,
	  #719fd1 100%
	);
	background-size: 100% 100%;
  }

@keyframes unload_home_scoreboard {
	0% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.0004,
			0,0,1,0,
			0,0,0,1
		) translateX(0px) translateY(-33px);
	}
	25% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.0002,
			0,0,1,0,
			0,0,0,1
		) translateX(1500px) translateY(0px);
	}
	100% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.0000,
			0,0,1,0,
			0,0,0,1
		) translateX(1500px) translateY(0px);
	}
}

.unload_countdown_header h3 {
	animation: blinker 2.5s ease-in-out infinite, unload_countdown_header .6s ease-in-out 1, fade_out .3s ease-in-out 1, blur_out .15s ease-in-out 1;
	color: white;
	font: 300 calc(30px + (60 - 30) * ((100vw - 500px) / (1920 - 500))) 'Saira Stencil One';
	margin: 0px;
	padding-top: 75px 10px 10px 10px;
	text-align: center;
}

@keyframes unload_countdown_header {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-1000px);
	}
	100% {
		transform: translateY(-1000px);
	}
}

.unload_countdown_go {
	align-items: center;
	align-content: center;
	animation: unload_countdown_go 1s 1, fade_out .3s ease-in-out 1, blur_out .15s ease-in-out 1;
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid green;
	border-radius: 100px 100px 0px 0px;
	box-shadow: 0px 10px 20px 0px rgba(0, 128, 0, 0.75);
	display: flex;
	color: white;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 auto 0 auto;
	min-height: 170px;
	padding: 10px 0px 0px 0px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_countdown_go h1 {
	align-self: center;
	color: green;
	font: 300 calc(75px + (100 - 75) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	padding: 0px;
}

@keyframes unload_countdown_go {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(1500px);
	}
	100% {
		transform: translateX(1500px);
	}
}

.unload_countdown_tutorial {
	animation: unload_countdown_tutorial 1s 1, fade_out .3s ease-in-out 1, blur_out .15s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px 0px 100px 100px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8), 0 15px 15px 0 rgba(0, 0, 0, 0.8);
	display: flex;
	color: white;
	padding: 0px 10px 0px 10px;
	margin: 0 auto calc(30px + (15 - 30) * ((100vw - 500px) / (1920 - 500))) auto;
	text-align: center;
	width: calc(280px + (480 - 280) * ((100vw - 500px) / (1920 - 500)));
}

.unload_countdown_tutorial p {
	width: 100%;
	padding: 10px;
	margin: 0 auto 0 auto;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
}

@keyframes unload_countdown_tutorial {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-1500px);
	}
	100% {
		transform: translateX(-1500px);
	}
}

.unload_game_timer {
	animation: unload_game_timer 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 50px 50px 0px 0px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_game_timer h1 {
	animation: text_shadow_blink 2.5s ease-in-out infinite;
	background-color: #000;
	border-radius: 10px;
	border: 1px solid grey;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(60px + (100 - 60) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	margin: 0 auto 0 auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
	text-shadow: 0px 0px 5px yellow;
	width: calc(250px + (400 - 250) * ((100vw - 500px) / (1920 - 500)));
}

.unload_game_timer h2 {
	color: white;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	margin: 0 auto 0 auto;
	text-align: center;
	padding: 10px 10px 0px 10px;
}

@keyframes unload_game_timer {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.unload_game_counter {
	animation: unload_game_counter 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_game_counter h1 {
	animation: text_shadow_blink 2s ease-in-out infinite;
	background-color: #000;
	border-radius: 10px;
	border: 1px solid grey;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(75px + (100 - 75) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	padding: 0px 10px 0px 10px;
	margin: 0 auto 0 auto;
	text-align: center;
	width: calc(200px + (300 - 200) * ((100vw - 500px) / (1920 - 500)));
}

.unload_game_counter h2 {
	color: white;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	margin: 0 auto 0 auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
}

@keyframes unload_game_counter {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.unload_game_rank {
	animation: unload_game_rank 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_game_rank h1 {
	animation: text_shadow_blink 1.5s ease-in-out infinite;
	background-color: #000;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(14px + (20 - 14) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	margin: 0 auto 0 auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
	text-shadow: 0px 0px 2.5px yellow;
	width: calc(250px + (350 - 250) * ((100vw - 500px) / (1920 - 500)));
}

.unload_game_rank h2 {
	color: white;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	margin: 0 auto 0 auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
}

@keyframes unload_game_rank {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.unload_game_power {
	animation: unload_game_power 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px 0px 50px 50px;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 10px auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_game_power h1 {
	animation: text_shadow_blink 2.25s ease-in-out infinite;
	background-color: #000;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.8), 0 0px 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(25px + (50 - 25) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	margin: 0 auto 0 auto;
	padding: 0px 5px 0px 5px;
	text-align: center;
	text-shadow: 0px 0px 2.5px yellow;
	width: calc(200px + (350 - 200) * ((100vw - 500px) / (1920 - 500)));
}

.unload_game_power h2 {
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	color: white;
	margin: 0 auto 0 auto;
	padding: 10px 10px 0px 10px;
	text-align: center;
}

@keyframes unload_game_power {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.unload_submit_score_header {
	animation: unload_submit_score_header 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 50px 50px 0px 0px;
	box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_header h1 {
	animation: text_shadow_blink_red 2.5s ease-in-out infinite;
	background-color: #000;
	border-radius: 10px;
	border: 1px solid grey;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: red;
	font: 300 calc(30px + (55 - 30) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	margin: 0 auto 0 auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
	text-shadow: 0px 0px 5px red;
	width: calc(250px + (400 - 250) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes unload_submit_score_header {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.unload_submit_score_counter {
	animation: unload_submit_score_counter 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	border: 2px solid white;
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_counter h1 {
	animation: text_shadow_blink 2s ease-in-out infinite;
	background-color: #000;
	border-radius: 10px;
	border: 1px solid grey;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(75px + (100 - 75) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	padding: 0px 10px 0px 10px;
	margin: 0 auto 0 auto;
	text-align: center;
	width: calc(200px + (300 - 200) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_counter h2 {
	color: white;
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align: center;
}

@keyframes unload_submit_score_counter {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.unload_submit_score_rank {
	animation: unload_submit_score_rank 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_rank h1 {
	animation: text_shadow_blink 1.5s ease-in-out infinite;
	background-color: #000;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(14px + (20 - 14) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	margin: 0 auto 0 auto;
	padding: 0px 10px 0px 10px;
	text-align: center;
	text-shadow: 0px 0px 2.5px yellow;
	width: calc(250px + (350 - 250) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_rank h2 {
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	color: white;
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align: center;
}

@keyframes unload_submit_score_rank {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.unload_submit_score_power {
	animation: unload_submit_score_power 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0px auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_power h1 {
	animation: text_shadow_blink 2.25s ease-in-out infinite;
	background-color: #000;
	border: 1px solid grey;
	border-radius: 10px;
	color: yellow;
	font: 300 calc(25px + (50 - 25) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align: center;
	text-shadow: 0px 0px 2.5px yellow;
	width: calc(200px + (350 - 200) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_power h2 {
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	color: white;
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align: center;
}

@keyframes unload_submit_score_power {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.unload_submit_score_form {
	animation: unload_submit_score_form 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8), 0 0 15px 0 rgba(0, 0, 0, 0.8);
	margin: 0px auto 0px auto;
	padding: 10px;
	text-align: center;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_form h2 {
	font: 300 calc(20px + (30 - 20) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	color: white;
	margin: 0 auto 0 auto;
	padding: 0px;
	text-align: center;
}

.unload_submit_score_text_box {
	animation: text_shadow_blink 1.25s ease-in-out infinite;
	background-color: #000;
	border: 1px solid grey;
	border-radius: 25px 0px 0px 25px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: yellow;
	font: 300 calc(10px + (20 - 10) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	padding: 13px 30px 13px 30px;
	text-align: center;
	width: calc(100px + (200 - 100) * ((100vw - 500px) / (1920 - 500)));
}

.unload_submit_score_text_box::placeholder {
	animation: text_shadow_blink 2.1s ease-in-out infinite;
	color: yellow;
	font: 300 calc(10px + (20 - 10) * ((100vw - 500px) / (1920 - 500))) 'Audiowide';
	opacity: 1;
}

.unload_submit_score_div {

}


.unload_submit_score_button {
	-webkit-appearance: none;
	align-items: flex-start;
	animation: text_shadow_blink 2s ease-in-out infinite;
	background-color: #000;
	border: 1px solid grey;
	border-radius: 0px 25px 25px 0px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	color: yellow;
	cursor: pointer;
	display: inline-block;
	font: 400 calc(15px + (20 - 15) * ((100vw - 500px) / (1920 - 500))) 'Staatliches';
	letter-spacing: normal;
	margin: 5px 0px 5px 0px;
	padding: calc(9px + (14 - 9) * ((100vw - 500px) / (1920 - 500))) 30px calc(11px + (13 - 11) * ((100vw - 500px) / (1920 - 500))) 30px;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
	text-align: center;
	text-decoration: none;
}

@keyframes unload_submit_score_form {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}

.unload_submit_score_bottom_buttons_container {
	animation: unload_submit_score_bottom_buttons_container 1s 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px 0px 50px 50px;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 10px 15px 0 rgba(0, 0, 0, 0.8);
	align-items: baseline;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 20px auto;
	padding: 10px;
	width: calc(300px + (500 - 300) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes unload_submit_score_bottom_buttons_container {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.unload_post_game_header {
	animation: unload_post_game_header 1s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border-radius: 30px 30px 5px 5px;
	border: 2px solid white;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0), 0 0 10px 0 rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0 auto 0 auto;
	transform: matrix3d(
		1,0,0,0.0,
		0,1,0,-0.001,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(333px + (870 - 333) * ((100vw - 500px) / (1920 - 500)));
	z-index: 2;
}

@keyframes unload_post_game_header {
	0% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(0px) translateY(0px);
	}
	25% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(-2000px);
	}
	100% {
		transform: matrix3d(
			1,0,0,0.0,
			0,1,0,-0.001,
			0,0,1,0,
			0,0,0,1
		) translateX(-2000px) translateY(-18px);
	}
}

.unload_post_game_main_menu_button {
	animation: unload_post_game_main_menu_button 1s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 30px 0px 0px 30px;
	box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
	color: white !important;
	font: 300 calc(20px + (25 - 20) * ((100vw - 500px) / (1920 - 500))) 'Saira Stencil One';
	padding: 10px;
	margin-right: -12px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	transform: matrix3d(
		1,0,0,0.0005,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes unload_post_game_main_menu_button {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(-2000px);
	}
}

.unload_post_game_play_again_button {
	animation: unload_post_game_play_again_button 1s ease-in-out 1;
	background-image: linear-gradient( rgb(50, 50, 50, 1) 10%,rgb(0, 0, 0, 1) 100%);
	border: 2px solid white;
	border-radius: 0px 30px 30px 0px;
	box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.75), 0 0 5px 0 rgba(255, 255, 0, 0.75);
	color: white !important;
	font: 300 calc(20px + (25 - 20) * ((100vw - 500px) / (1920 - 500))) 'Saira Stencil One';
	margin-left: -12px;
	padding: 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	transform: matrix3d(
		1,0,0,-0.0005,
		0,1,0,0,
		0,0,1,0,
		0,0,0,1
		);
	width: calc(150px + (300 - 150) * ((100vw - 500px) / (1920 - 500)));
}

@keyframes unload_post_game_play_again_button {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(2000px);
	}
	100% {
		transform: translateX(2000px);
	}
}